.project-container {
  max-width: 960px;
  margin: auto auto;
  padding: 16px 16px 16px 16px;

  h1 {
    font-size: 4em
  }
}

.hero {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;

  .hero-image {
    padding: 16px;
    border-radius: 10px;
    width: 100vw;
  }

  .hero-summary {
    font-size: 2em;
    font-weight: bold;

    text-align: center;
    padding: 16px;
  }
}
